
<div class="modal-header">
    <h3>Falha ao Atualizar as Configurações da Franquia</h3>
</div>
<div class="modal-body">
    <p ng-if="alteracaoErro">
        Houve um problema ao alterar as configurações da franquia:<br />
        <strong>{{ alteracaoErro }}</strong>
    </p>
    <p ng-if="!alteracaoErro">
        Houve algum problema inesperado ao alterar as configurações da franquia.<br />
        Você pode tentar novamente.
    </p>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="$dismiss()">Ok</button>
</div>
