
<div class="modal-header">
    <h3>Confirmar Desativação de Assinatura</h3>
</div>
<div class="modal-body">
    <p>Tem certeza que deseja desativar a sua assinatura?</p>
    <p><b>Atenção!</b> O serviço de entrega dos pães será encerrado definitivamente.</p>
    <p><b>Importante:</b> Ao desativar a assinatura, será gerada uma fatura correspondente ao período ainda não quitado em que sua assinatura esteve ativa.</p>
    <p>Lembre-se que você pode interromper a entrega dos pães temporariamente utilizando a <b>pausa nas entregas</b>.</p>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="$close()">Confirmar</button>
    <button class="btn btn-warning" ng-click="$dismiss()">Voltar</button>
</div>
