
<div class="modal-header">
    <h3>Interromper Pausa na Entrega</h3>
</div>
<div class="modal-body">
    <p>Tem certeza que deseja interromper a pausa atual?</p>
    <p>Você irá voltar a receber as entregas, de acordo com os dias selecionados em sua configuração.</p>
    <p>Se você apenas quer mudar a data final da pausa, siga em frente: confirme, e em seguida selecione uma nova data.</p>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="$close()">Confirmar</button>
    <button class="btn btn-warning" ng-click="$dismiss()">Voltar</button>
</div>
