
<div class="modal-header">
    <h3>Confirmar Ativação de Assinatura</h3>
</div>
<div class="modal-body">
    <p>Tem certeza que deseja ativar a sua assinatura?</p>
    <p>Confirmando a ativação, as suas entregas começarão imediatamente, de acordo com os dias da semana selecionados.</p>
    <p>Lembre-se: sempre que você precisar interromper a entrega dos pães temporariamente, utilize a <b>pausa nas entregas</b>.</p>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="$close()">Confirmar</button>
    <button class="btn btn-warning" ng-click="$dismiss()">Voltar</button>
</div>
