
<div class="modal-header">
    <h3>Falha na Desativação da Assinatura</h3>
</div>
<div class="modal-body">
    <p ng-if="desativacaoErro">
        Houve um problema no processamento da desativação da sua assinatura:<br />
        <strong>{{ desativacaoErro }}</strong>
    </p>
    <p ng-if="!desativacaoErro">
        Houve algum problema inesperado no processamento da desativação da sua assinatura.<br />
        Você pode tentar novamente.
    </p>
    <p>Caso seja necessário, <a href="/#contato">entre em contato conosco</a>.</p>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="$dismiss()">Ok</button>
</div>
