
<div class="modal-header">
    <h3>Falha ao Pausar a Assinatura</h3>
</div>
<div class="modal-body">
    <p ng-if="pausaErro">
        Houve um problema no processamento da sua solicitação:<br />
        <strong>{{ pausaErro }}</strong>
    </p>
    <p ng-if="!pausaErro">
        Houve algum problema inesperado no processamento da sua solicitação.<br />
        Você pode tentar novamente.
    </p>
    <p>Caso seja necessário, <a href="/#contato">entre em contato conosco</a>.</p>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="$dismiss()">Ok</button>
</div>
