
<div class="modal-header">
    <h3>Falha ao Definir Status do Assinante</h3>
</div>
<div class="modal-body">
    <p ng-if="alteracaoErro">
        Houve um problema ao alterar o status do assinante:<br />
        <strong>{{ alteracaoErro }}</strong>
    </p>
    <p ng-if="!alteracaoErro">
        Houve algum problema inesperado ao alterar o status do assinante.<br />
        Você pode tentar novamente.
    </p></div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="$dismiss()">Ok</button>
</div>
