
<div class="modal-header">
    <h3>Falha ao Fazer Ajustes na Fatura</h3>
</div>
<div class="modal-body">
    <p ng-if="ajusteErro">
        Houve um problema ao fazer ajustes na fatura:<br />
        <strong>{{ ajusteErro }}</strong>
    </p>
    <p ng-if="!ajusteErro">
        Houve algum problema inesperado ao fazer ajustes na fatura.<br />
        Você pode tentar novamente.
    </p>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="$dismiss()">Ok</button>
</div>
