<div class="modal-header">
    <h3>{{ fatura.nome }}</h3>
</div>
<div class="modal-body detalhes">
    <p class="text-center"></p>
    <p ng-if="fatura.tipo == 'assinatura'">
        Assinatura de <span class="marcado">{{ fatura.data_inicial }}</span> a <span class="marcado">{{ fatura.data_final }}</span> |
        Status: <span class="marcado">Fatura {{ fatura.estimativa ? 'Aberta (estimativa)' : 'Fechada, ' }}</span>
        <span ng-if="!fatura.estimativa && (fatura.quitada != '0')" class="marcado-ok"> Quitada!</span>
        <span ng-if="!fatura.estimativa && (fatura.quitada == '0')" class="marcado"> Aguardando Pagamento.</span>
    </p>
    <p ng-if="fatura.tipo == 'pedido'">
        Pedido avulso - nº <span class="marcado">{{ fatura.pedido.id_pedido }}</span> |
        Status: <span class="marcado">Fatura Fechada,</span>
        <span ng-if="fatura.quitada != '0'" class="marcado-ok"> Quitada!</span>
        <span ng-if="fatura.quitada == '0'" class="marcado"> Aguardando Pagamento.</span>
    </p>
    <table class="detalhes">
        <tbody ng-if="fatura.tipo == 'assinatura'">
            <tr ng-repeat="parcial in fatura.parciais" ng-class-odd="'cinzinha'">
                <td>
                    Assinatura com entregas {{ parcial.dias_de_entrega }}<br>
                    <span ng-if="fatura.parciais.length > 1">({{ parcial.data_inicial }} a {{ parcial.data_final }})</span>
                    <div ng-repeat="item in parcial.quantidades">{{ item.produto }}: {{ item.quantidade }} unidade<span ng-if="item.quantidade != 1">s</span></div>
                </td>
                <td class="valor">{{ parcial.valor_parcial | currency }}</td>
            </tr>
            <tr ng-repeat="pausa in fatura.pausas" ng-class-odd="(fatura.parciais.length % 2) == 0 ? 'cinzinha' : ''" ng-class-even="(fatura.parciais.length % 2) == 1 ? 'cinzinha' : ''">
                <td>Pausa na entrega - de {{ pausa.data_inicial }} a {{ pausa.data_final }}</td>
                <td class="valor">- {{ pausa.valor_desconto | currency }}</td>
            </tr>
            <tr ng-repeat="pedido in fatura.pedidos" ng-class-odd="((fatura.parciais.length + fatura.pausas.length) % 2) == 0 ? 'cinzinha' : ''" ng-class-even="((fatura.parciais.length + fatura.pausas.length) % 2) == 1 ? 'cinzinha' : ''">
                <td>
                    <button class="btn-plus" title="Mostrar pedido" ng-init="detalhes = true" ng-click="detalhes = !detalhes" ng-class="{opened: detalhes}"></button>
                    <span>
                        Pedido nº <span class="bind">{{ pedido.id_pedido }}</span><br>
                        efetuado no dia <span class="bind">{{ pedido.data_feito }}</span> às <span class="bind">{{ pedido.hora_feito }}</span>
                        com entrega em <span class="bind">{{ pedido.data_entrega }}</span>
                    </span>
                    <div class="item" ng-repeat="item in pedido.itens" ng-show="detalhes" ng-class="{ultimo: $last}">
                        <span class="bind">{{ item.quantidade }}{{ item.medida == 'grama' ? 'g' : '' }}</span> {{ item.nome }} (<span class="bind">{{ item.total | currency }}</span>)
                    </div>
                </td>
                <td class="valor">{{ pedido.total | currency }}</td>
            </tr>
        </tbody>
        <tbody ng-if="fatura.tipo == 'pedido'">
            <tr>
                <td>
                    <button class="btn-plus" title="Mostrar pedido" ng-init="detalhes = true" ng-click="detalhes = !detalhes" ng-class="{opened: detalhes}"></button>
                    <span>
                        Efetuado no dia <span class="bind">{{ fatura.pedido.data_feito }}</span> às <span class="bind">{{ fatura.pedido.hora_feito }}</span>
                        com entrega em <span class="bind">{{ fatura.pedido.data_entrega }}</span>
                    </span>
                    <div class="item" ng-repeat="item in fatura.pedido.itens" ng-show="detalhes" ng-class="{ultimo: $last}">
                        <span class="bind">{{ item.quantidade }}{{ item.medida == 'grama' ? 'g' : '' }}</span> {{ item.nome }} (<span class="bind">{{ item.total | currency }}</span>)
                    </div>
                </td>
                <td class="valor">{{ fatura.pedido.total | currency }}</td>
            </tr>
            <tr class="cinzinha">
                <td>Taxa de Entrega</td>
                <td class="valor">{{ fatura.taxa_de_entrega | currency }}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr ng-if="fatura.valor_acrescimo > 0">
                <td>Acréscimo:</td>
                <td class="valor">{{ fatura.valor_acrescimo | currency }}</td>
            </tr>
            <tr ng-if="fatura.valor_desconto > 0">
                <td>Desconto:</td>
                <td class="valor">- {{ fatura.valor_desconto | currency }}</td>
            </tr>
            <tr>
                <th>Valor Total:</th>
                <th class="valor">{{ fatura.valor_final | currency }}</th>
            </tr>
        </tfoot>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="$dismiss()">Voltar</button>
</div>
